.idea/
.vscode/
/node_modules
/public/hot
public/frontend/css/vars.css
Modules/DeveloperTools/site_colors.json
/public/storage
/public/uploads
/storage/*.key
/vendor
.env
.env.backup
.rnd
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
